body {
    padding-top: 75px;
    height: 100%;
}

textarea {
    resize: none;
}

time {
    font-style: italic;
}

pre {
    margin: 0;
    padding: 0;
}

.paste-content {
    display: inline-block;
    min-height: 25em;
    width: 100%;
    overflow: auto;
}

#alerts-container {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 9999;
}

.vertical-offset-2 {
    margin-top: 2em;
}

.vertical-offset-5 {
    margin-top: 5em;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main-content {
    overflow: auto;
    padding-bottom: 150px;
    min-height: 50em;
    /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px;
    /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
    text-align: center;
}

.dialog-window {
    position: absolute;
    z-index: 9999;
    opacity: 1;
    top: 0;
    background: black;
    border-radius: 15px;
}

.gray-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 998;
    opacity: 0.25;
    background-color: white;
    top: 0;
    left: 0;
}

.fading {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.out {
    opacity: 0;
}