footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 50px;
}

body {
    padding-top: 75px;
    padding-left: 25px;
    padding-bottom: 50px;
    height: 100%;
}

textarea {
    resize: none;
}

time {
    font-style: italic;
}

pre {
    margin: 0;
    padding: 0;
}

.paste-content {
    display: inline-block;
    min-height: 25em;
    max-height: 30em;
    width: 100%;
    overflow-y: scroll;
}

#notification-container {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 9999;
}

.vertical-offset-2 {
    margin-top: 2em;
}

.vertical-offset-5 {
    margin-top: 5em;
}