footer {
    position: fixed;
    bottom: 0;
}

body {
    padding-top: 75px;
    padding-left: 25px;
}

textarea {
    resize: none;
}

time {
    font-style: italic;
}

pre {
    margin: 0;
    padding: 0;
}

.paste-content {
    display: inline-block;
    min-height: 25em;
    max-height: 30em;
    width: 100%;
    overflow-y: scroll;
}